.wd-dashboard-edit {
    margin-left: 80px;
    max-width: 900px;
    flex-grow: 1;
  }

  .wd-dashboard-edit label {
    margin-bottom: 8px;
    color: rgb(46, 46, 46);

  }
  
  .wd-dashboard-edit h6 {
      margin-left: 0px;
      padding-left: 0px;
      margin-right: 10px;
      font-weight: 700;
  }
  
  .wd-icon-size {
    padding-right: 0px;
    margin-right: 0px;
    max-width: 10px;
  }
  
  .wd-no-left {
    margin-left: 0px;
    margin-right: 0px; 
  }
  
  .wd-dashboard-edit .dropdown .btn-secondary {
    background-color: transparent;
    border: rgb(200, 200, 200) solid 1px; 
    border-radius: 5px;
  }
  
  .wd-submission-box {
    background-color: transparent;
    border: rgb(200, 200, 200) solid 1px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  
  .wd-dashboard-edit .list-group-item {
    border: none;
    font-weight: 400;
  }
  
  .wd-dashboard-edit .wd-submission-footer {
    background-color: rgb(238, 238, 238);
    border: rgb(225, 225, 225) solid 1px; 
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
  }
  
  .wd-dashboard-edit .wd-submission-footer .btn-secondary {
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 100%;
  }
  
  .wd-dashboard-edit .btn {
    font-size: 15px;
    border-radius: 3px;
    border: rgb(183, 183, 183) solid 1px; 
    margin-left: 3px;
    margin-top: 10px;
  }

  .wd-dashboard-edit .btn-secondary {
    background-color: rgb(238, 238, 238);
    color: black;
  }

  .wd-form-margin {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .wd-dashboard-edit .wd-button-bar {
    padding-bottom: 30px;
  }

  .wd-dashboard-edit .green-icon {
    color: green;
  }

  .wd-dashboard-edit .text-light {
    text-decoration: none;
  }